html {
    background-color: #000;
}

body {
    margin: 0;
}

.game-screen {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.full-screen-control {
    position: absolute;
    top: 1em;
    left: 1em;
}
